body {
  background-color: #f4f4f4;
}
#main {
  width: 1140px;
  margin: 0 auto;
  background-color: #ffffff;
}
#main .title {
  width: 1140px;
  height: 120px;
  margin: 0 auto 80px auto;
  background-image: url(../img/title.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
#main .content {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 80px;
}
#main .content div .station-lg {
  font-weight: bold;
  font-size: 45px;
}
#main .content div .station-md {
  font-weight: bold;
  font-size: 36px;
  margin-right: 20px;
}
#main .content div .hum {
  font-weight: bold;
  font-size: 28px;
}
#main .content div .tea {
  font-weight: bold;
  font-size: 21px;
  margin-right: 20px;
}
#main .content .icon {
  width: 201px;
  height: 23px;
  background-image: url(../img/icon.png);
  background-repeat: no-repeat;
  margin: 10px 0 10px -30px;
}
#main .content .jishu {
  text-align: left;
  font-size: 21px;
  margin-bottom: 45px;
}
#main .content .jishu td:nth-child(1) {
  line-height: 1.5;
  width: 250px;
  font-weight: bold;
}
#main .content .jishu td:nth-child(2) {
  line-height: 1.5;
  width: 320px;
  font-weight: bold;
}
#main .content .jishu td:nth-child(3) {
  line-height: 1.5;
  font-weight: bold;
}
#main .content .yunying {
  text-align: left;
  font-size: 21px;
  margin-bottom: 45px;
}
#main .content .yunying td:nth-child(1) {
  width: 480px;
  line-height: 1.5;
  font-weight: bold;
}
#main .content .yunying td:nth-child(2) {
  width: 480px;
  line-height: 1.5;
  font-weight: bold;
}
#main .content .pm {
  text-align: left;
  font-size: 21px;
  margin-bottom: 45px;
}
#main .content .pm td:nth-child(1) {
  width: 640px;
  line-height: 1.5;
  font-weight: bold;
}
#main .content .pm td:nth-child(2) {
  width: 320px;
  line-height: 1.5;
  font-weight: bold;
}
#main .content .pm .space {
  margin-right: 70px;
}
#main .content .info {
  width: 880px;
  font-size: 21px;
  line-height: 1.5;
  color: #afa6a7;
}
#main .section {
  width: 1140px;
  margin: 0 auto;
  line-height: 1.5;
  padding: 0 0 75px 0;
}
#main .section p {
  width: 960px;
  margin: 0 auto;
  font-size: 21px;
  font-weight: bold;
}
#main .section p i {
  font-size: 27px;
  font-weight: bold;
}
